
body{
    padding: 0;
    margin: 0 auto;
    font-family:  'helvetica';
    font-weight: 50px;
    color: #45A29E;
}

p{
    margin: 0;
    font-family:  'helvetica';
    font-weight: 50px;
}

h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

 .changeSize{
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2{
    display: inline-block;
    margin: 5px;
}

.header-container{
    background-color: #0B0C10;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.align-left{
    float: left;
    margin-left: 20px;
}

.align-right{
    float: right;
    margin-right: 20px;
}


.fancyIntro{
    text-align: center;
    max-width: 100%;
    height: 64%;
    background-image: url("quoteFrameFinal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


.changingText{
    font-family:  'helvetica';
    font-weight: 50px;
    z-index: 1;
    margin-top: 8%;
}

.body-container{
    width: 100%;
    height: 1000px; /* CHANGE THIS SIZE ONCE CONTENT IS IN */
    background-color: #C5C6C7;
    padding-top: 5px;

}

.inner-container{
    background-color: #1F2833;
    margin: 5px;
    height: 800px;
    padding: 5px;
}