html{
    margin: 0 auto;
    padding: 0;
    font-family:  'helvetica';
    color: white;
    background-color: #85CDCA;
}

body{
    font-weight: 100;
    margin: 0;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
h1 , p{
  margin: 0;
}

.topBar{
    text-align: center;
    font-weight: 100;
    height: auto;
    width: 100%;
    background-color: #659DBD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.changingText{
    font-family:  'helvetica';
    font-weight: 50px;
    padding: 5px;
    z-index: 1;
}

.video{
    object-fit: fill;
}

.fancyIntro{
    text-align: center;
    vertical-align: middle;
    line-height: 410px; /* lowers font to middle */
    width: 100%;
    height: 90%;
    background-image: url("quoteFrameFinal.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.storyContainer{
  
  width: 100%;
  height: 2000px;
  text-align: center;
  background-color: #E8a87c;
  font-weight: 50px;
  padding: 10px 0px;
}

.hideme 
{
    opacity:0;
}

.storyBox{
    width: 325px;
    height: 350px;
    margin: 100px;
    margin-bottom: 25px;
    text-align: center;
    background-color: #8d8741;
    border-radius: 25px;
    padding: 5px;
    font-size: 20px;
}

.indianaPic{
    height: 60%;
    width: 60%;
    margin-top: 10px; 
}
